<div class="w-full flex flex-col">
    <div class="card w-full flex flex-col gap-8">
        <div class="flex flex-row justify-between items-center">
            <div class="text-xl font-bold">Paramètres de l'application</div>
            <div>
                <p-button
                    icon="pi pi-pencil"
                    label="Editer"
                    variant="outlined"
                    (click)="showApplicationSettingsDialog()"
                    severity="contrast"
                />
            </div>
        </div>
        <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-4 gap-6">
            <div>
                <div class="font-semibold text-gray-400 mb-2">
                    Numéro du contribuable
                </div>
                <div class="font-bold">{{settings.NC ? settings.NC : '__________________'}}</div>
            </div>
            <div>
            <div class="font-semibold text-gray-400 mb-2">Email</div>
            <div class="font-bold">
            {{ settings.Email ? (settings.Email.length > 25 ? (settings.Email | slice:0:25) + '...' : settings.Email) : '__________________' }}
            </div>
            </div>

            <div>
                <div class="font-semibold text-gray-400 mb-2">
                    Numéro Orange
                </div>
                <div class="font-bold">{{settings.Orange ? settings.Orange : '__________________'}}</div>
            </div>
            <div>
                <div class="font-semibold text-gray-400 mb-2">Numéro MTN</div>
                <div class="font-bold">{{settings.MTN ? settings.MTN : '__________________'}}</div>
            </div>
            <div>
                <div class="font-semibold text-gray-400 mb-2">Address</div>
                <div class="font-bold">{{settings.Address ? settings.Address : '__________________'}}</div>
            </div>
            <div>
                <div class="font-semibold text-gray-400 mb-2">Banque</div>
                <div class="font-bold">{{settings.Banque ? settings.Banque : '__________________'}}</div>
            </div>
            <div>
                <div class="font-semibold text-gray-400 mb-2">
                    Numéro du compte
                </div>
                <div class="font-bold">{{settings.CompteB ? settings.CompteB : '__________________'}}</div>
            </div>
            <div>
                <div class="font-semibold text-gray-400 mb-2">% TVA</div>
                <div class="font-bold">{{settings.TVA*100}}%</div>
            </div>
            <div>
                <div class="font-semibold text-gray-400 mb-2">% PRECOMPTE</div>
                <div class="font-bold">{{settings.PRECOMPTE*100}}%</div>
            </div>
            <div>
                <div class="font-semibold text-gray-400 mb-2">% ECOMP</div>
                <div class="font-bold">{{settings.ECOMP*100}}%</div>
            </div>
            <div>
                <div class="font-semibold text-gray-400 mb-2">% bénéfices</div>
                <div class="font-bold">{{settings.BENEF*100}}%</div>
            </div>
            <div>
                <div class="font-semibold text-gray-400 mb-2">
                    % Revente du client
                </div>
                <div class="font-bold">{{settings.PVC*100}}%</div>
            </div>
        </div>
    </div>

    <div class="card w-full flex flex-col gap-8">
        <div class="flex flex-row justify-between items-center">
            <div class="text-xl font-bold">Informations personnelles</div>
            <div>
                <p-button
                    icon="pi pi-pencil"
                    label="Editer"
                    variant="outlined"
                    severity="contrast"
                    (onClick)="showAccountDataDialog()"
                />
            </div>
        </div>
        <div class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-6">
            <div>
                <div class="font-semibold text-gray-400 mb-2">Nom</div>
                <div class="font-bold">
                    {{ user.lastname || "___________________" }}
                </div>
            </div>
            <div>
                <div class="font-semibold text-gray-400 mb-2">Prénom</div>
                <div class="font-bold">
                    {{ user.firstname || "___________________" }}
                </div>
            </div>
            <div>
                <div class="font-semibold text-gray-400 mb-2">
                    Date de naissance
                </div>
                <div class="font-bold">
                    {{
                        user.details.date_of_birth
                            ? (user.details.date_of_birth | date: "dd/MM/yyyy")
                            : "___________________"
                    }}
                </div>
            </div>
            <div>
                <div class="font-semibold text-gray-400 mb-2">Genre</div>
                <div class="font-bold">
                    {{
                        user.details.genre
                            ? user.details.genre
                            : "___________________"
                    }}
                </div>
            </div>
            <div>
                <div class="font-semibold text-gray-400 mb-2">Adresse</div>
                <div class="font-bold">
                    {{
                        user.details.address
                            ? user.details.address
                            : "___________________"
                    }}
                </div>
            </div>
            <div>
                <div class="font-semibold text-gray-400 mb-2">Adresse mail</div>
                <div class="font-bold">
                    {{
                        user.details.address_mail
                            ? user.details.address_mail
                            : "___________________"
                    }}
                </div>
            </div>
            <div>
                <div class="font-semibold text-gray-400 mb-2">Pays</div>
                <div class="font-bold">
                    {{
                        user.details.country
                            ? user.details.country
                            : "___________________"
                    }}
                </div>
            </div>
            <div>
                <div class="font-semibold text-gray-400 mb-2">Ville</div>
                <div class="font-bold">
                    {{
                        user.details.city
                            ? user.details.city
                            : "___________________"
                    }}
                </div>
            </div>
            <div>
                <div class="font-semibold text-gray-400 mb-2">
                    Adresse mail personnel
                </div>
                <div class="font-bold">
                    {{
                        user.details.personnal_mail_address
                            ? user.details.personnal_mail_address
                            : "___________________"
                    }}
                </div>
            </div>
            <div>
                <div class="font-semibold text-gray-400 mb-2">
                    Numéro de téléphone
                </div>
                <div class="font-bold">
                    {{ user.phone ? user.phone : "___________________" }}
                </div>
            </div>
            <div>
                <div class="font-semibold text-gray-400 mb-2">Poste</div>
                <div class="font-bold">
                    {{
                        user.details.post
                            ? user.details.post
                            : "___________________"
                    }}
                </div>
            </div>
            <div>
                <div class="font-semibold text-gray-400 mb-2">
                    Date début d’embauche
                </div>
                <div class="font-bold">
                    {{
                        user.details.start_date_of_hire
                            ? (user.details.start_date_of_hire
                              | date: "dd/MM/yyyy")
                            : "___________________"
                    }}
                </div>
            </div>
            <div>
                <div class="font-semibold text-gray-400 mb-2">
                    Type de contrat
                </div>
                <div class="font-bold">
                    {{
                        user.details.contract_type
                            ? user.details.contract_type
                            : "___________________"
                    }}
                </div>
            </div>
            <div>
                <div class="font-semibold text-gray-400 mb-2">Salaire</div>
                <div class="font-bold">
                    {{
                        user.details.salary
                            ? user.details.salary
                            : "___________________"
                    }}
                </div>
            </div>
            <div>
                <div class="font-semibold text-gray-400 mb-2">Rôle</div>
                <div class="font-bold">
                    {{
                        user.role_id === 1 ? "Super Admin" : user.role_id === 2 ? "Admin" : user.role_id === 3 ? "Utilisateur" : "___________________"
                    }}
                </div>
            </div>
            <div>
                <div class="font-semibold text-gray-400 mb-2">Département</div>
                <div class="font-bold">
                    {{
                        user.details.department
                            ? user.details.department
                            : "___________________"
                    }}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Dialog for modifying application settings -->
<p-dialog
    header="Modifier les Paramètres d'application"
    [(visible)]="appsettingDialog"
    [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [style]="{ width: '70vw', 'max-height': '90vh', 'overflow-y': 'auto' }"
    [resizable]="false"
    [modal]="true"
    (onHide)="cleardialog()"
>
    <ng-template #content>
        <p-fluid>
            <form
                [formGroup]="appSettingForm"
                class="card flex flex-col gap-6 w-full"
            >
                <div
                    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6"
                >
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="NC">NC</label>
                        <input
                            pInputText
                            type="text"
                            id="NC"
                            formControlName="NC"
                            required
                            [ngClass]="{
                                'ng-invalid ng-dirty':
                                    erreurInput &&
                                    appSettingForm.controls['NC'].errors,
                            }"
                        />
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="Email">Email</label>
                        <input
                            pInputText
                            type="email"
                            id="Email"
                            formControlName="Email"
                            required
                            [ngClass]="{
                                'ng-invalid ng-dirty':
                                    erreurInput &&
                                    appSettingForm.controls['Email'].errors,
                            }"
                        />
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="Orange">Orange</label>
                        <input
                            pInputText
                            type="tel"
                            id="Orange"
                            formControlName="Orange"
                            required
                            [ngClass]="{
                                'ng-invalid ng-dirty':
                                    erreurInput &&
                                    appSettingForm.controls['Orange'].errors,
                            }"
                        />
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="MTN">MTN</label>
                        <input
                            pInputText
                            type="tel"
                            id="MTN"
                            formControlName="MTN"
                            required
                            [ngClass]="{
                                'ng-invalid ng-dirty':
                                    erreurInput &&
                                    appSettingForm.controls['MTN'].errors,
                            }"
                        />
                    </div>
                </div>
                <div
                    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6"
                >
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="Address">Adresse</label>
                        <input
                            pInputText
                            type="text"
                            id="Address"
                            formControlName="Address"
                            required
                            [ngClass]="{
                                'ng-invalid ng-dirty':
                                    erreurInput &&
                                    appSettingForm.controls['Address'].errors,
                            }"
                        />
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="Banque">Banque</label>
                        <input
                            pInputText
                            type="text"
                            id="Banque"
                            formControlName="Banque"
                            required
                            [ngClass]="{
                                'ng-invalid ng-dirty':
                                    erreurInput &&
                                    appSettingForm.controls['Banque'].errors,
                            }"
                        />
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="CompteB">N° Compte Bancaire</label>
                        <input
                            pInputText
                            type="text"
                            id="CompteB"
                            formControlName="CompteB"
                            required
                            [ngClass]="{
                                'ng-invalid ng-dirty':
                                    erreurInput &&
                                    appSettingForm.controls['CompteB'].errors,
                            }"
                        />
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="TVA">TVA (%)</label>
                        <input
                            pInputText
                            type="text"
                            id="TVA"
                            formControlName="TVA"
                            required
                            [ngClass]="{
                                'ng-invalid ng-dirty':
                                    erreurInput &&
                                    appSettingForm.controls['TVA'].errors,
                            }"
                        />
                    </div>
                </div>
                <div
                    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6"
                >
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="PRECOMPTE">Précompte (%)</label>
                        <input
                            pInputText
                            type="text"
                            id="PRECOMPTE"
                            formControlName="PRECOMPTE"
                            mode="decimal"
                            showButtons
                            required
                            [ngClass]="{
                                'ng-invalid ng-dirty':
                                    erreurInput &&
                                    appSettingForm.controls['PRECOMPTE'].errors,
                            }"
                        >
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="BENEF">Bénéfices (%)</label>
                        <input
                            pInputText
                            type="text"
                            id="BENEF"
                            formControlName="BENEF"
                            required
                            [ngClass]="{
                                'ng-invalid ng-dirty':
                                    erreurInput &&
                                    appSettingForm.controls['BENEF'].errors,
                            }"
                        />
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="PVC">PVC (%)</label>
                        <input
                            pInputText
                            type="text"
                            id="PVC"
                            formControlName="PVC"
                            required
                            [ngClass]="{
                                'ng-invalid ng-dirty':
                                    erreurInput &&
                                    appSettingForm.controls['PVC'].errors,
                            }"
                        />
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="ECOMP">ECOMP</label>
                        <input
                            pInputText
                            type="text"
                            id="ECOMP"
                            formControlName="ECOMP"
                            [readOnly]="true"
                            [variant]="'filled'"
                        />
                    </div>
                </div>
            </form>
        </p-fluid>
    </ng-template>

    <ng-template #footer>
        <p-button
            (click)="clearAppSettingForm()"
            label="Vider"
            icon="pi pi-times"
            severity="danger"
            outlined
        />
        <p-button
            (click)="setApplicationSettings()"
            type="submit"
            label="Enregister"
            icon="pi pi-save"
            severity="contrast"
            [loading]="loading"
        />
    </ng-template>
</p-dialog>

<!-- Dialog for modifying account data -->
<p-dialog
    header="Modifier les Paramètres du compte"
    [(visible)]="accountDataDialog"
    [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [style]="{ width: '50vw', 'overflow-y': 'auto' }"
    [resizable]="false"
    [modal]="true"
    (onHide)="cleardialog()"
>
    <ng-template #content>
        <p-fluid>
            <form
                [formGroup]="accountDataForm"
                class="card flex flex-col gap-6 w-full"
            >
                <div
                    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6"
                >
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="lastname">Nom</label>
                        <input
                            pInputText
                            type="text"
                            id="lastname"
                            formControlName="lastname"
                            [ngClass]="{
                                'ng-invalid ng-dirty':
                                    erreurInput &&
                                    accountDataForm.controls['lastname'].errors,
                            }"
                        />
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="firstname">Prénom</label>
                        <input
                            pInputText
                            type="text"
                            id="firstname"
                            formControlName="firstname"
                            [ngClass]="{
                                'ng-invalid ng-dirty':
                                    erreurInput &&
                                    accountDataForm.controls['firstname']
                                        .errors,
                            }"
                        />
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="phone">Téléphone</label>
                        <input
                            pInputText
                            type="tel"
                            id="phone"
                            formControlName="phone"
                            [ngClass]="{
                                'ng-invalid ng-dirty':
                                    erreurInput &&
                                    accountDataForm.controls['phone'].errors,
                            }"
                        />
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="date_of_birth">Date de naissance</label>
                        <p-datepicker
                            class="w-full"
                            formControlName="date_of_birth"
                            [iconDisplay]="'input'"
                            [showIcon]="true"
                            inputId="icondisplay"
                        />
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="genre">Genre</label>
                        <p-select
                            formControlName="genre"
                            [options]="genres"
                            optionLabel="name"
                            class="w-full"
                        />
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="address">Adresse</label>
                        <input
                            pInputText
                            type="text"
                            id="address"
                            formControlName="address"
                        />
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="country">Pays</label>
                        <p-select
                            formControlName="country"
                            [options]="countries"
                            optionLabel="name"
                            [appendTo]="'body'"
                            class="w-full"
                        />
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="city">Ville</label>
                        <input
                            pInputText
                            type="text"
                            id="city"
                            formControlName="city"
                        />
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="personnal_mail_address"
                            >Email personnel</label
                        >
                        <input
                            pInputText
                            type="email"
                            id="personnal_mail_address"
                            formControlName="personnal_mail_address"
                        />
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="address_mail">Adresse mail pro</label>
                        <input
                            pInputText
                            type="email"
                            id="address_mail"
                            formControlName="address_mail"
                        />
                    </div>
                </div>
            </form>
        </p-fluid>
    </ng-template>

    <ng-template #footer>
        <p-button
            (click)="clearAccountForm()"
            label="Vider"
            icon="pi pi-times"
            severity="danger"
            outlined
        />
        <p-button
            (click)="setAccountData()"
            type="submit"
            label="Enregister"
            icon="pi pi-save"
            severity="contrast"
            [loading]="loading"
        />
    </ng-template>
</p-dialog>
