<div class="w-full flex flex-col">
    <div class="card w-full flex flex-col gap-8">
        <div class="flex flex-row justify-between items-center">
            <div class="text-xl font-bold">
                Paramètres de l'application
            </div>
            <div>
                <p-button icon="pi pi-pencil" label="Editer" variant="outlined" severity="contrast" />
            </div>
        </div>
        <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-4 gap-6">
            <div>
                <div class="font-semibold text-gray-400 mb-2 ">% TVA</div>
                <div class="font-bold">20</div>
            </div>
            <div>
                <div class="font-semibold text-gray-400 mb-2 ">% Ecomp</div>
                <div class="font-bold">15</div>
            </div>
            <div>
                <div class="font-semibold text-gray-400 mb-2 ">% bénéfices</div>
                <div class="font-bold">25</div>
            </div>
            <div>
                <div class="font-semibold text-gray-400 mb-2 ">% Revente du client</div>
                <div class="font-bold">20</div>
            </div>
        </div>
    </div>

    <div class="card w-full flex flex-col gap-8">
        <div class="flex flex-row justify-between items-center">
            <div class="text-xl font-bold">
                Informations personnelles
            </div>
            <div>
                <p-button icon="pi pi-pencil" label="Editer" variant="outlined" severity="contrast" />
            </div>
        </div>
        <div class="grid  sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-6">
            <div>
                <div class="font-semibold text-gray-400 mb-2 ">Nom</div>
                <div class="font-bold">NKENG ATO</div>
            </div>
            <div>
                <div class="font-semibold text-gray-400 mb-2 ">Prénom</div>
                <div class="font-bold">Maxime Melaine</div>
            </div>
            <div>
                <div class="font-semibold text-gray-400 mb-2 ">Date de naissance</div>
                <div class="font-bold">15/04/1999</div>
            </div>
            <div>
                <div class="font-semibold text-gray-400 mb-2 ">Genre</div>
                <div class="font-bold">Masculin</div>
            </div>
            <div>
                <div class="font-semibold text-gray-400 mb-2 ">Adresse</div>
                <div class="font-bold">Yaoundé,Soa,Nkolfoulou</div>
            </div>
            <div>
                <div class="font-semibold text-gray-400 mb-2 ">Adresse mail</div>
                <div class="font-bold">_________________</div>
            </div>
            <div>
                <div class="font-semibold text-gray-400 mb-2 ">Pays</div>
                <div class="font-bold">Cameroun</div>
            </div>
            <div>
                <div class="font-semibold text-gray-400 mb-2 ">Ville</div>
                <div class="font-bold">Yaoundé</div>
            </div>
            <div>
                <div class="font-semibold text-gray-400 mb-2 ">Adresse mail personnel</div>
                <div class="font-bold">maxato000&#64;gmail.com</div>
            </div>
            <div>
                <div class="font-semibold text-gray-400 mb-2 ">Numéro de téléphone</div>
                <div class="font-bold">+237698916150 </div>
            </div>
            <div>
                <div class="font-semibold text-gray-400 mb-2 ">Poste</div>
                <div class="font-bold">Ingénieur logiciel</div>
            </div>
            <div>
                <div class="font-semibold text-gray-400 mb-2 ">Date début d’embauche</div>
                <div class="font-bold">15/04/2013</div>
            </div>
            <div>
                <div class="font-semibold text-gray-400 mb-2 ">Type de contrat</div>
                <div class="font-bold">CDI</div>
            </div>
            <div>
                <div class="font-semibold text-gray-400 mb-2 ">Salaire</div>
                <div class="font-bold">120000 FCFA</div>
            </div>
            <div>
                <div class="font-semibold text-gray-400 mb-2 ">Rôle</div>
                <div class="font-bold">Utilisateur</div>
            </div>
            <div>
                <div class="font-semibold text-gray-400 mb-2 ">Département</div>
                <div class="font-bold">Informatique & Système d'information</div>
            </div>
        </div>
    </div>
</div>
