<p-fluid>
    <div class="flex gap-4 mb-12">
        <div>
            <p-button
                (click)="goToClientList()"
                icon="pi pi-arrow-left"
                severity="contrast"
                [style]="{ height: '100%', width: '3.5rem' }"
                class="text-xl"
            />
        </div>
        <div>
            <div>
                <span class="text-xl">Retourner à la liste des clients</span>
            </div>
            <div>
                <span class="text-2xl font-bold text-primary"
                    >Enregistrer un client</span
                >
            </div>
        </div>
    </div>

    <form
        action=""
        class="w-full mt-4"
        [formGroup]="clientForm"
        (ngSubmit)="onSubmit()"
    >
        <div class="w-full mt-4 card">
            <div class="flex flex-col md:flex-row gap-6 w-full">
                <div class="flex flex-wrap gap-2 w-full">
                    <label for="name">Nom</label>
                    <input
                        pInputText
                        type="text"
                        id="name"
                        name="name"
                        formControlName="name"
                        [ngClass]="{
                            'ng-invalid ng-dirty':
                                erreurInput &&
                                clientForm.controls['name'].errors,
                        }"
                        required
                    />
                </div>
                <div class="flex flex-wrap gap-2 w-full">
                    <label for="">Representant</label>
                    <p-select
                        formControlName="representant"
                        id="representant"
                        name="representant"
                        [options]="employees"
                        optionLabel="lastname"
                        class="w-full"
                        [ngClass]="{
                            'ng-invalid ng-dirty':
                                erreurInput &&
                                clientForm.controls['representant'].errors,
                        }"
                        required
                    />
                </div>
                <div class="flex flex-wrap gap-2 w-full">
                    <label for="">Adresse principale</label>
                    <input
                        pInputText
                        type="text"
                        id="principal_address"
                        name="principal_address"
                        formControlName="principal_address"
                    />
                </div>
            </div>
            <div class="flex mt-6 flex-col md:flex-row gap-6 w-full">
                <div class="flex flex-wrap gap-2 w-full">
                    <label for="">Email</label>
                    <input
                        pInputText
                        type="text"
                        id="email"
                        name="email"
                        formControlName="email"
                    />
                </div>
                <div class="flex flex-wrap gap-2 w-full">
                    <label for="">Téléphone</label>
                    <input
                        pInputText
                        type="text"
                        id="phone"
                        name="phone"
                        formControlName="phone"
                        [ngClass]="{
                            'ng-invalid ng-dirty':
                                erreurInput &&
                                clientForm.controls['phone'].errors,
                        }"
                        required
                    />
                </div>
                <div class="flex flex-wrap gap-2 w-full">
                    <label for="">Méthode de paiement</label>
                    <p-select
                        formControlName="payment_method"
                        [options]="payment_methods"
                        optionLabel="name"
                        class="w-full"
                        [ngClass]="{
                            'ng-invalid ng-dirty':
                                erreurInput &&
                                clientForm.controls['payment_method'].errors,
                        }"
                        required
                    />
                </div>
            </div>
            <div class="flex mt-6 flex-col md:flex-row gap-6 w-full">
                <div class="flex flex-wrap gap-2 w-full">
                    <label for="">% Reduction</label>
                    <input
                        pInputText
                        type="text"
                        id="specific_price"
                        name="specific_price"
                        formControlName="specific_price"
                    />
                </div>
                <div class="flex flex-wrap gap-2 w-full">
                    <label for="">Conditions de paiement</label>
                    <p-select
                        formControlName="payment_requirement"
                        [options]="payment_requirements"
                        optionLabel="name"
                        class="w-full"
                    />
                </div>
                <div class="flex flex-wrap gap-2 w-full">
                    <label for="">Adresse de facturation</label>
                    <input
                        pInputText
                        type="text"
                        id="facturation_address"
                        name="facturation_address"
                        formControlName="facturation_address"
                    />
                </div>
            </div>
            <div class="flex flex-col mt-6 md:flex-row gap-6 w-full">
                <div class="flex flex-wrap gap-2 w-full">
                    <label for="">Notes</label>
                    <textarea
                        rows="5"
                        cols="30"
                        pTextarea
                        formControlName="notes"
                    ></textarea>
                </div>
            </div>
            <div class="flex flex-wrap mt-6 gap-2 w-full">
                <p-checkbox
                    id="tva"
                    binary="true"
                    formControlName="tva"
                ></p-checkbox>
                <label for="tva">Avec TVA</label>
            </div>

            <div class="flex flex-wrap mt-6 gap-2 w-full">
                <p-checkbox
                    id="ecomp"
                    binary="true"
                    formControlName="ecomp"
                ></p-checkbox>
                <label for="ecomp">Avec ECOMP</label>
            </div>
        </div>

        <div class="flex flex-wrap gap-4 mb-6 mt-6">
            <p-button
                (click)="clearForm()"
                label="Vider"
                icon="pi pi-times"
                severity="danger"
                outlined
            />
            <p-button
                type="submit"
                label="Enregister"
                icon="pi pi-save"
                severity="contrast"
                [loading]="loading"
            />
        </div>
    </form>
</p-fluid>
