<div class="w-full p-6 bg-white text-sm">
    <div>
        <img src="/img/factureheader.png" alt="" />
    </div>

    <div class="grid grid-cols-2 border-black border mt-8 text-sm">
        <div class="border-black border-r border-b font-bold">
            <span class="inline-block align-middle p-1"
                >ADRESSE DRINHOSELLER</span
            >
        </div>
        <div class="border-black border-b">
            <span class="inline-block align-middle p-1"
                >{{settings.Address}}</span
            >
        </div>
        <div class="border-black border-r font-bold">
            <span class="inline-block align-middle p-1">CLIENT</span>
        </div>
        <div >
            <span class="inline-block align-middle p-1">{{
                invoice.client.name || "______________"
            }} , NC : {{ invoice.client.nc || "______________" }}</span>
        </div>
    </div>

    <div class="grid grid-cols-2 gap-1 mt-3 text-sm">
        <div class="text-right item-center border-black border-r">
            <span class="inline-block align-middle mr-2">Facture #</span>
            <span class="inline-block align-middle font-bold pr-2">{{
                code_facture || "______________"
            }}</span>
        </div>
        <div class="text-left item-center">
            <span class="inline-block align-middle mr-2">Date :</span>
            <span class="inline-block align-middle font-bold">{{
                invoice.dateAdded || "______________" | date: "longDate"
            }}</span>
        </div>
    </div>

    <!-- Tableau des lignes -->
    <div class="mt-3 text-sm">
        <table class="min-w-full border border-black">
            <thead class="border border-black">
                <tr>
                    <th class="border border-black p-1 bg-gray-100">
                        DESIGNATION
                    </th>
                    <th class="border border-black p-1 bg-gray-100">
                        QUANTITE
                    </th>
                    <th class="border border-black p-1 bg-gray-100">
                        PUH <span style="opacity: 0.5">(FCFA)</span>
                    </th>
                    <th
                        *ngIf="showTvaInput"
                        class="border border-black p-1 bg-gray-100"
                    >
                        PUTTC <span style="opacity: 0.5">(FCFA)</span>
                    </th>
                    <th class="border border-black p-1 bg-gray-100">
                        PTH <span style="opacity: 0.5">(FCFA)</span>
                    </th>
                    <th
                        *ngIf="showTvaInput"
                        class="border border-black p-1 bg-gray-100"
                    >
                        PTTTC <span style="opacity: 0.5">(FCFA)</span>
                    </th>
                    <th class="border border-black p-1 bg-gray-100">
                        PVC <span style="opacity: 0.5">(FCFA)</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ligne of invoice.lignes">
                    <td
                        *ngIf="ligne.DESIGNATION?.name"
                        class="border border-black p-1"
                    >
                        {{ ligne.DESIGNATION?.name || "-" }}
                    </td>
                    <td
                        *ngIf="ligne.DESIGNATION?.name"
                        class="border border-black p-1"
                    >
                        {{ ligne.QUANTITY }}
                    </td>
                    <td
                        *ngIf="ligne.DESIGNATION?.name"
                        class="border border-black p-1"
                    >
                        {{ ligne.PUH }}
                    </td>
                    <td
                        *ngIf="showTvaInput && ligne.DESIGNATION?.name"
                        class="border border-black p-1"
                    >
                        {{ ligne.PUTTC }}
                    </td>
                    <td
                        *ngIf="ligne.DESIGNATION?.name"
                        class="border border-black p-1"
                    >
                        {{ ligne.PTH }}
                    </td>
                    <td
                        *ngIf="showTvaInput && ligne.DESIGNATION?.name"
                        class="border border-black p-1"
                    >
                        {{ ligne.PTTTC }}
                    </td>
                    <td
                        *ngIf="ligne.DESIGNATION?.name"
                        class="border border-black p-1"
                    >
                        {{ ligne.PVC }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Totaux -->
    <div class="mt-3 flex w-full text-sm " >
        <div class="flex flex-col border-black border" style="width: 30.1rem">
            <div class="border-black border-b font-bold">
                <span class="inline-block align-middle p-1 "
                    >TOTAL HORS TAXES</span
                >
            </div>
            <div *ngIf="showTvaInput" class="font-bold border-black border-b">
                <span class="inline-block align-middle p-1 "
                    >TOTAL AVEC TAXES</span
                >
            </div>
            <div *ngIf="showPrecompteInput" class="font-bold border-black border-b">
                <span class="inline-block align-middle p-1 ">PRECOMPTE ( {{ settings.PRECOMPTE*100  || "__" }}% )</span>
            </div>
            <div *ngIf="showTvaInput" class="font-bold">
                <span class="inline-block align-middle p-1 ">TOTAL TVA ( {{ settings.TVA*100 || "__" }}% )</span>
            </div>
        </div>

        <div
            class="flex flex-col border-black border-t border-r border-b flex-1"
        >
            <div class="border-black border-b">
                <span class="inline-block align-middle p-1 "
                    >{{ invoice.HT || "__error__" }}
                    <span  style="opacity: 0.5">FCFA</span></span
                >
            </div>
            <div *ngIf="showTvaInput" class="border-black border-b">
                <span class="inline-block align-middle p-1 "
                    >{{ invoice.TTC }}
                    <span  style="opacity: 0.5">FCFA</span></span
                >
            </div>
            <div *ngIf="showPrecompteInput" class="border-black border-b">
                <span class="inline-block align-middle p-1 "
                    >{{ invoice.PRECOMPTE }}
                    <span  style="opacity: 0.5">FCFA</span></span
                >
            </div>
            <div *ngIf="showTvaInput" >
                <span class="inline-block align-middle p-1 "
                    >{{ invoice.TVA }}
                    <span style="opacity: 0.5">FCFA</span></span
                >
            </div>
        </div>
    </div>

    <!-- Avance -->
    <div *ngIf="showAvanceInput" class="mt-3 flex w-full text-sm ">
        <div class="flex flex-col border-black border w-[30.1rem]">
            <div class="font-bold ">
                <span class="inline-block align-middle p-1 ">AVANCE</span>
            </div>
        </div>

        <div class="flex flex-col border-black border-t border-r flex-1">
            <div class="border-black border-b">
                <span class="inline-block align-middle p-1">{{
                    invoice.avance || "__error__"
                }}</span>
            </div>
        </div>
    </div>

    <div class="mt-4 flex gap-1 justify-between text-sm ">
        <div class="flex justify-end">
            <img style="width: 7rem;" src="/img/imgInvoiceFooter2.png" alt="" />
        </div>
        <div style="width: max-content;" class="text-center">
            <div class="w-full">
                <span class="font-normal  mb-2">
                    Siège social Yaoundé-Cameroun N° CONT
                    {{ settings.NC }}</span
                >
            </div>
            <div class="w-full">
                <span class="font-normal  mb-2"> COMPTE BANQUE {{settings.Banque}}: {{settings.CompteB}}</span>
            </div>
            <div class="w-full">
                <span class="font-normal  mb-2"> Paiement par chèque</span>
            </div>
            <div class="w-full">
                <span class="font-normal  mb-2"> Payement par orange au  {{settings.Orange}} ou Mobile money {{settings.MTN}}</span>
            </div>
            <div class="w-full">
                <span class="font-normal  mb-2"> E-MAIL: {{ settings.Email }}</span>
            </div>
            <div *ngIf="invoice.avance" class="flex w-full">
                <span class="font-normal  mb-2"
                    >Merci d'effectuer votre paiement au plus tard le
                    {{ invoice.echeance | date: "shortDate" }}.</span
                >
            </div>
            <div class="w-full">
                <span class="font-normal ">
                    Les marchandises vendues ne sont ni reprises ni
                    échangées</span
                >
            </div>
        </div>
        <div class="flex justify-start">
            <img style="width: 7rem;" src="/img/imgInvoiceFooter1.png" alt="" />
        </div>
    </div>
</div>
