<div class="card" *ngIf="employees.length > 0">
    <div class="flex justify-between gap-4">
        <div class="w-full">
            <div class="flex items-center justify-between">
                <p-iconfield>
                    <p-inputicon styleClass="pi pi-search" />
                    <input
                        pInputText
                        type="text"
                        (input)="applyFilter($event)"
                        placeholder="Rechercher un fournisseur..."
                    />
                </p-iconfield>
            </div>
        </div>
        <div class="flex gap-4">
            <p-button
                (click)="gotToAddEmployee()"
                label="Ajouter"
                icon="fa-solid fa-plus"
                severity="contrast"
            ></p-button>
            <p-button
                label="Exporter"
                icon="pi pi-upload"
                severity="secondary"
                (onClick)="exportCSV()"
            />
        </div>
    </div>

    <div class="mt-4">
        <p-table
            #dt
            [value]="employees"
            [globalFilterFields]="['firstname', 'lastname', 'phone']"
            selectionMode="single"
            dataKey="id"
            [tableStyle]="{ 'min-width': '75vw' }"
            [paginator]="true"
            [rows]="40"
            [rowsPerPageOptions]="[10, 20, 40, 60]"
        >
            <ng-template #header>
                <tr>
                    <th>Noms</th>
                    <th>Prenom</th>
                    <th>Téléphone</th>
                    <th>Poste</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template #body let-employee>
                <tr>
                    <td class="name-td">
                        {{ employee.lastname }}
                    </td>
                    <td>{{ employee.firstname }}</td>
                    <td>{{ employee.phone }}</td>
                    <td>{{ employee.details.post }}</td>
                    <td>
                        <div style="display: flex; gap: 1rem">
                            <div>
                                <p-button
                                    label=""
                                    severity="info"
                                    icon="fa-solid fa-pencil"
                                    [outlined]="true"
                                    (onClick)="goToDetails(employee)"
                                />
                            </div>
                            <div>
                                <p-button
                                    (click)="trash($event, employee)"
                                    label=""
                                    severity="danger"
                                    icon="fa-solid fa-trash-can"
                                    [outlined]="true"
                                />
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<div
    style="
        display: flex;
        align-items: center;
        justify-content: center;
        height: 89vh;
    "
    *ngIf="employees.length <= 0"
>
    <img style="width: 35rem" src="img/No data-rafiki.svg" alt="" />
</div>

<!-- Overlays -->

<p-confirmdialog />

<p-dialog
    header="Details du fournisseur {{ employee.name }}"
    [(visible)]="employeeDetailsDialog"
    [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [style]="{ width: '50vw', 'max-height': '90vh', 'overflow-y': 'auto' }"
    [resizable]="false"
    [modal]="true"
    (onHide)="clearSelectedEmployees()"
>
    <ng-template #content>
        <p-fluid>
            <form
                action=""
                class="w-full mt-4"
                [formGroup]="employeeForm"
                (ngSubmit)="onSubmit()"
            >
                <div class="w-full">
                    <div>
                        <div class="flex flex-col md:flex-row gap-6 w-full">
                            <div class="flex flex-wrap gap-2 w-full">
                                <label for="lastname">Nom</label>
                                <input
                                    pInputText
                                    type="text"
                                    formControlName="lastname"
                                    [ngClass]="{
                                        'ng-invalid ng-dirty':
                                            erreurInput &&
                                            employeeForm.controls['lastname']
                                                .errors,
                                    }"
                                />
                            </div>

                            <div class="flex flex-wrap gap-2 w-full">
                                <label for="firstname">Prénom</label>
                                <input
                                    pInputText
                                    type="text"
                                    formControlName="firstname"
                                    [ngClass]="{
                                        'ng-invalid ng-dirty':
                                            erreurInput &&
                                            employeeForm.controls['firstname']
                                                .errors,
                                    }"
                                />
                            </div>
                        </div>
                        <div
                            class="flex flex-col md:flex-row gap-6 w-full mt-6"
                        >
                            <div class="flex flex-wrap gap-2 w-full">
                                <label for="date_of_birth"
                                    >Date de naissance</label
                                >
                                <p-datepicker
                                    class="w-full"
                                    formControlName="date_of_birth"
                                    [iconDisplay]="'input'"
                                    [showIcon]="true"
                                    inputId="icondisplay"
                                />
                            </div>
                            <div class="flex flex-wrap gap-2 w-full">
                                <label for="genre">Genre</label>
                                <p-select
                                    formControlName="genre"
                                    [options]="genres"
                                    optionLabel="name"
                                    class="w-full"
                                />
                            </div>
                        </div>
                    </div>

                    <h5>Informations de contact</h5>
                    <div>
                        <div class="flex flex-col md:flex-row gap-6 w-full">
                            <div class="flex flex-wrap gap-2 w-full" style="width: 180px; min-width: 180px; max-width: 180px;">
                                <label for="address">Adresse</label>
                                <input
                                    pInputText
                                    type="text"
                                    formControlName="address"
                                />
                            </div>
                            <div class="flex flex-wrap gap-2 w-full" style="width: 180px; min-width: 180px; max-width: 180px;">
                                <label for="address_mail">Adresse mail</label>
                                <input
                                    pInputText
                                    type="email"
                                    formControlName="address_mail"
                                    [ngClass]="{
                                        'ng-invalid ng-dirty':
                                            erreurInput &&
                                            employeeForm.controls[
                                                'address_mail'
                                            ].errors,
                                    }"
                                />
                            </div>
                            <div class="flex flex-wrap gap-2 w-full" style="width: 180px; min-width: 180px; max-width: 180px;">
                                <label for="country">Pays</label>
                                <p-select
                                    formControlName="country"
                                    [options]="countries"
                                    optionLabel="name"
                                    class="w-full"
                                />
                            </div>
                        </div>
                        <div
                            class="flex flex-col md:flex-row gap-6 w-full mt-6"
                        >
                            <div class="flex flex-wrap gap-2 w-full" style="width: 180px; min-width: 180px; max-width: 180px;">
                                <label for="city">Ville</label>
                                <input
                                    pInputText
                                    type="text"
                                    formControlName="city"
                                />
                            </div>
                            <div class="flex flex-wrap gap-2 w-full" style="width: 180px; min-width: 180px; max-width: 180px;">
                                <label for="personnal_mail_address"
                                    >Adresse mail personnel</label
                                >
                                <input
                                    pInputText
                                    type="email"
                                    formControlName="personnal_mail_address"
                                />
                            </div>
                            <div class="flex flex-wrap gap-2 w-full" style="width: 180px; min-width: 180px; max-width: 180px;">
                                <label for="phone">Numéro de téléphone</label>
                                <input
                                    pInputText
                                    type="tel"
                                    formControlName="phone"
                                    [ngClass]="{
                                        'ng-invalid ng-dirty':
                                            erreurInput &&
                                            employeeForm.controls['phone']
                                                .errors,
                                    }"
                                />
                            </div>
                        </div>
                    </div>

                    <h5>Informations additionnelles</h5>
                    <div>
                        <div class="flex flex-col md:flex-row flex-wrap gap-6 w-full">
                          <div class="flex flex-col gap-2 mt-6" style="width: 180px; min-width: 180px; max-width: 180px;">
                            <label for="post">Poste</label>
                            <input pInputText type="text" formControlName="post" />
                          </div>
                          <div class="flex flex-col gap-2 mt-6" style="width: 180px; min-width: 180px; max-width: 180px;">
                            <label for="start_date_of_hire">Date début d’embauche</label>
                            <p-datepicker
                              class="w-full"
                              formControlName="start_date_of_hire"
                              [iconDisplay]="'input'"
                              [showIcon]="true"
                              inputId="icondisplay"
                            />
                          </div>
                          <div class="flex flex-col gap-2 mt-6" style="width: 180px; min-width: 180px; max-width: 180px;">
                            <label for="contract_type">Type de contrat</label>
                            <p-select
                              class="w-full"
                              formControlName="contract_type"
                              [options]="contrats"
                              optionLabel="name"
                            />
                          </div>
                        </div>

                        <div class="flex flex-col md:flex-row flex-wrap gap-6 w-full">
                          <div class="flex flex-col gap-2 mt-6" style="width: 180px; min-width: 180px; max-width: 180px;">
                            <label for="salary">Salaire</label>
                            <input pInputText type="number" formControlName="salary" />
                          </div>
                          <div class="flex flex-col gap-2 mt-6" style="width: 180px; min-width: 180px; max-width: 180px;">
                            <label for="role_id">Rôle</label>
                            <p-select
                              class="w-full"
                              formControlName="role_id"
                              [options]="roles"
                              optionLabel="name"
                              [ngClass]="{
                                'ng-invalid ng-dirty': erreurInput && employeeForm.controls['role_id'].errors
                              }"
                            />
                          </div>
                          <div class="flex flex-col gap-2 mt-6" style="width: 180px; min-width: 180px; max-width: 180px;">
                            <label for="department">Département</label>
                            <p-select
                              class="w-full"
                              formControlName="department"
                              [options]="departements"
                              optionLabel="name"
                            />
                          </div>
                        </div>
                    </div>
                </div>
            </form>
        </p-fluid>
    </ng-template>

    <ng-template #footer>
        <p-button
            (click)="clearForm()"
            label="Vider"
            icon="pi pi-times"
            severity="danger"
            outlined
        />
        <p-button
            (click)="onSubmit()"
            type="submit"
            label="Enregister"
            icon="pi pi-save"
            severity="contrast"
            [loading]="loading"
        />
    </ng-template>
</p-dialog>
