<app-invoice-form
    [form]="invoiceForm"
    [clients]="clients"
    [status]="status"
    [products]="products"
    [showsSubmitButton]="showsSubmitButton"
    [selectedProduct]="selectedProduct"
    [settings]="settings"
    [showInputs]="showInputs"
    [erreurInput]="erreurInput"
    [copied]="copied"
    [items]="items"
    [isOneInvoice]= true
    (submitted)="onInvoiceSubmitted()"
    (cleared)="clearForm()"
    (error)="showError($event)"
>
</app-invoice-form>

<p-dialog
    header="Nombre de factures divisées"
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: '25rem' }"
>
    <p class="p-text-secondary block mb-8">
        Avant de continuer veillez sélectionner le nombre de facture divisées
        que vous voulez.
    </p>
    <form [formGroup]="nbInvioicesForm" (ngSubmit)="navigateToDivision()">
        <div class="flex items-center gap-4 mb-4">
            <p-select
                [options]="nombreFactures"
                placeholder="Sélectionner le nombre de factures"
                class="w-full"
                formControlName="nbInvioices"
                [appendTo]="'body'"
                [ngClass]="{
                    'ng-invalid ng-dirty':
                        erreurInput &&
                        nbInvioicesForm.controls['nbInvioices'].errors,
                }"
                required
            />
        </div>
        <div>
            <p-button
                [style]="{ width: '100%' }"
                type="submit"
                label="Valider"
                severity="contrast"
            />
        </div>
    </form>
</p-dialog>
