.autocomplete-wrapper .p-autocomplete {
    width: 100% !important;
}
::ng-deep .autocomplete-wrapper .p-autocomplete {
    width: 100% !important;
}
::ng-deep .autocomplete-wrapper .p-inputtext {
    border: none !important;
    box-shadow: none !important;
    width: 27rem !important;
}
