td {
    max-width: max-content !important;
}
.name-td {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    .fa-circle {
        font-size: 0.5rem;
        margin-right: 0.5rem;
    }
    .red {
        color: #99031e;
    }

    .orange {
        color: #fbbf24;
    }

    .green {
        color: #34d399;
    }
}
